body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(230, 230, 230);
    margin: 0;
    overflow: hidden;
}

header {
    user-select: none;
    background-color: rgb(35, 35, 35);
    padding: 10px 10px 10px 15px;
    color: rgb(200, 200, 200);
    display: flex;
}

header div {
    height: 43px !important;
}

header div:last-child {
    margin-left: auto;
    display: flex;
}

header ul {
    list-style: none;
    display: flex;
    padding-left: 0;
}

header ul li {
    margin: 0 20px 0 20px;
}

header li:hover {
    color: white;
}

header li:last-of-type:hover {
    cursor: pointer;
}

.container {
    display: flex;
    height: calc(100vh - 63px - 50px);
}

nav {
    background-color: rgb(255, 50, 50);
    width: 180px;
    padding: 15px 15px 15px 15px;
    color: rgb(255, 255, 255);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav p:not(:first-child) {
    font-weight: bold;
    margin-bottom: 5px;
}

nav p:hover {
    cursor: default;
}

main {
    width: calc(100% - 200px);
    text-align: center;
    overflow: auto;
}

footer {
    background-color: rgb(35, 35, 35);
    color: rgb(200, 200, 200);
    text-align: center;
    padding: 14.5px;
    position: relative;
}

.item-menu {
    margin: 3px 0px 3px 0px;
}

.item-menu:hover {
    cursor: pointer;
    outline: 2px solid rgb(100, 100, 100);
    background-color: rgb(100, 100, 100);
    color: rgb(255, 255, 255);
    box-shadow: -13px 0px 0px 2px rgb(100, 100, 100), 13px 0px 0px 2px rgb(100, 100, 100);
}

.products {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 30px;
}

.product {
    background-color: rgb(245, 245, 245);
    height: 340px;
    width: 230px;
    padding: 10px 6px 10px 6px;
    border-radius: 10px;
    margin: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product:hover {
    background-color: rgb(255, 255, 255);
}

.product img {
    margin: 0 auto 0 auto;
    border-radius: 10px;
    height: 160px;
    width: 160px;
    object-fit: cover;
}
.product h3 {
    margin: 3px;
}

.product p {
    margin: 0;
    overflow: hidden;
}

.product p:last-of-type {
    color: #00a650;
    font-weight: bold;
}

.fazer-pedido {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
    width: 100px;
    border: none;
    border-radius: 10px;
    padding: 3px;
    outline: 4px solid red;
    margin-bottom: 10px;
}

.fazer-pedido:hover, .fazer-pedido:active {
    cursor: pointer;
    outline: 2px solid red;
}

.selected {
    outline: 2px solid rgb(100, 100, 100);
    background-color: rgb(100, 100, 100);
    color: rgb(255, 255, 255);
    box-shadow: -13px 0px 0px 2px rgb(100, 100, 100), 13px 0px 0px 2px rgb(100, 100, 100);
}

.hidden {
    display: none;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5)
}

.modal-pedido .modal-header {
    text-align: center;
}

.modal-pedido .modal-header h2 {
    margin: 10px;
}

.modal-pedido .modal-content {
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    margin: 10% auto;
    padding: 10px;
    width: 400px;
    box-shadow: 0 5px 8px 0px rgba(0, 0, 0, 0.2), 0 7px 20px 0px rgba(0, 0, 0, 0.17);
    animation-name: modalOpen;
    animation-duration: 1s;
    text-align: center;
}

.modal-pedido .modal-body {
    display: flex;
    justify-content: center;
}

.modal-pedido .modal-body div:first-of-type {
    width: 160px;
    height: 160px;
}

.modal-pedido .modal-body div:last-of-type {
    width: 160px;
    height: 160px;
}

.modal-pedido .modal-body p {
    margin: 5px;
}

.modal-pedido .modal-body p:last-of-type span {
    color: #00a650;
}

.modal-pedido .modal-body p:last-of-type span::before {
    content: "R$ ";
}

.pedido-btn {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
    width: 100px;
    border: none;
    border-radius: 8px;
    padding: 3px;
    outline: 4px solid red;
    margin: 6px 0px 6px 0px;
}

.pedido-btn:hover, .pedido-btn:active {
    cursor: pointer;
    outline: 2px solid red;
}

.modal-pedido .modal-content img {
    margin: 0;
    border-radius: 10px;
    height: 160px;
    width: 160px;
    object-fit: cover;
}

.modal-pedido .modal-footer {
    margin: 15px auto 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 300px;
}

.modal-historico-pedidos .modal-content {
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    margin: 10% auto;
    padding: 10px;
    width: 800px;
    box-shadow: 0 5px 8px 0px rgba(0, 0, 0, 0.2), 0 7px 20px 0px rgba(0, 0, 0, 0.17);
    animation-name: modalOpen;
    animation-duration: 1s;
    text-align: center;
}

.modal-historico-pedidos .modal-header {
    text-align: left;
    padding: 0px 50px 0px 50px;
}

.closeBtn {
    color: #4e4e4e;
    float: right;
    font-size: 30px; 
    height: 32px;
}

.closeBtn:hover, .closeBtn:focus {
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalOpen {
    from {opacity: 0}
    to {opacity: 1;}
}

.quantidade-btn {
    border: none;
    font-size: x-large;
    color: red;
    background: none;
    border-radius: 10px;
}

.quantidade-btn:hover, .quantidade-btn:active {
    cursor: pointer;
}

.historico-pedidos {
    background-color: rgb(230, 230, 230);
    border-collapse: collapse;
    margin: 0 auto 20px auto;
    width: 740px;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    cursor: default;
}

.historico-pedidos thead tr {
    background-color: rgb(200, 200, 200);
}

.historico-pedidos tr {
    height: 30px;
}

.historico-pedidos tbody tr:not(:last-of-type) {
    border-bottom: 1px solid rgb(255, 255, 255)
}

.historico-pedidos tbody tr:hover {
    background-color: rgb(235, 235, 235);
}

.historico-pedidos tbody tr:last-of-type {
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(215, 215, 215);
}